/*NOSOTROS*/

.nuestra-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    p {
        max-width: 800px;
        text-align: justify;
        line-height: 1.6;
    }


}

.imagenes-historia {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-bottom: 20px;
  flex-wrap: wrap;

  img {
    max-width: 100%;
    height: auto;
    width: 300px; 
    border-radius: 8px; 
    }
}
