
:root{
    --header-background: rgb(182, 173, 144);
    --color-section: rgb(166, 138, 100); 
    --body-background:rgb(88, 47, 14);
}

body{
    background-color: var(--body-background);
    
}

header{
    background-color: var(--header-background);
    position: fixed;
    width: 100%;
    top: 0;
}

.nav_header nav ul{ 
    list-style-type: none;
    display: flex;
    justify-content: space-between ;
    padding: 15px  ;
   
}

main{
    margin-top: 90px;
}

.sobre-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.comidas{
    background-color: var(--color-section);
    display:grid ;
    justify-items: center;
}

.comidas-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 20px;
}

.footer div p {
    margin: 2px ;

}

.footer div {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer nav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
}

.footer span{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
    text-align: right;
}

a:link, a:visited {
    color: rgb(230, 200, 122); 
    text-decoration: none;
}

a:hover {
    color: rgb(245, 213, 108); 
}

.nav_header a:link, nav a:visited { 
    color: rgb(127, 79, 36);
    text-decoration: none;
   
}

.nav_header a:hover{
    color: var(--body-background);
}
  
p{
    color: rgb(101, 109, 74);
    font-family: 'Lora', serif;
    font-size:larger;
}

h1, h2, h3{
    color:beige;
    font-family: 'Playfair Display', serif;
}

section a:link, a:visited h3{
    color: rgb(230, 200, 122); 
    text-decoration: none;
}

section a:hover h3{
    color: rgb(245, 213, 108);
}