$header-background: rgb(182, 173, 144);
$color-section: rgb(166, 138, 100);
$body-background: rgb(88, 47, 14);

header {
    background-color: $header-background;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

